# ================================================================
#  BANCONOVA — Configuración global de Ansible
# ================================================================
[defaults]
# Ruta al inventario de servidores
inventory         = inventory.ini

# Ruta donde están los roles del proyecto
roles_path        = roles

# No verificar la autenticidad del host SSH la primera vez
host_key_checking = False

# Mostrar diferencias cuando un archivo cambia
diff_always       = True

# Número de hosts que se configuran en paralelo
forks             = 5

# Archivo donde se guardan los logs de ejecución
log_path          = ./ansible.log

# Desactivar mensajes de advertencia de cow (cowsay)
nocows            = 1

[ssh_connection]
# Acelerar la conexión SSH reutilizando la conexión
pipelining        = True
